*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
img{
    width: 200px;
    height: 250px;
}
ul li {
    margin-left: 60px;
}
ul li a{
    color: aliceblue;
    text-decoration: none;
    
}
ul {
    display: flex;
    list-style: none;
}
a{
    color: black;
}
a:hover{
    color: green ;
}
.rrp{
    color: gray;
}

.price{
    color: black;
}
.saving{
    color: rgb(15, 110, 15);
}
header {
    display: flex;
    align-items: center;
    background-color: black;
    height: 80px;
    
    
}
nav ol li{
    display: inline;
}

.img {
    margin-left: 30px;
    height: 80px;
    width: 100px;
}

section h1, p{
    margin-left: 40px;
}

section .cards{
    display: flex;
    justify-content: flex-start;
    margin: 30px;
    flex-wrap: wrap;
    
}
section .card{
    margin-left: 15px;
    border: 0.5px solid grey;
    box-shadow: gray 2px 2px 3px;
    background-color: rgb(241, 240, 240);
    padding: 10px;
    margin-bottom: 1rem;
    
}
section .card-content{
    display: flex;
    flex-direction: column;
}


@media screen and (max-width:767px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: black;
        height: 200px;
    }

    .img {
        margin: 10px;
        height: 120px;
        width: 240px;
    }

    ul{
        padding: 0;
        display: flex;
        justify-content: center;
    }

     ul li{
        margin: 9px;
        font-size: 10px;
    }
    section .cards{
        display: flex;
        justify-content: center;
        margin: 30px;
        flex-wrap: wrap;
    }

    section h1, p{
        margin-right: 5px;
    }

    nav ol {
        display: flex;
        font-size: 15px;
    }

    section .card{
        /* margin-left: 14px; */
        width: 230px;
        border: 0.5px solid grey;
        box-shadow: gray 2px 2px 3px;
        background-color: rgb(241, 240, 240);
        padding: 10px;
        margin-bottom: 1rem;
    }

    .card-img img{
        width: 230px;
    }

}

@media print {
    header .text{
        display: none;
    }
}
